body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    padding: 8px;
    background-color: #eeeeee;
    border-bottom: 2px solid #aca793;
}

#wrapper {
    position: absolute;
    top: 82px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#left {
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    width: 326px;
    padding: 5px;
    overflow-y:auto;
    background-color: #ffffff;
    border-right: 2px solid #aca793;
}

#right {
    position: absolute;
    top:0px;
    bottom:0px;
    left: 338px;
    right:0px;
    overflow: auto;
}

#contextMenu {
    position: absolute;
    min-width: 100px;
    z-index: 1000;
    background: #fff;
    border-top: solid 1px #CCC;
    border-left: solid 1px #CCC;
    border-bottom: solid 1px #676767;
    border-right: solid 1px #676767;
    padding: 0px;
    margin: 0px;
    display:none;
}

#contextMenu a {
    color: #000;
    text-decoration: none;
    display: block;
    line-height: 22px;
    height: 22px;
    padding: 1px 10px;
}

#contextMenu a:focus {
    outline: none;
    border: none;
}

#contextMenu a:-moz-focus-inner {
    border: none;
}

#contextMenu li {
    list-style: none;
    padding: 1px;
    margin: 0px;
}

#contextMenu li.hover a {
    background-color: #A7C4FA;
}

#contextMenu li.separator {
    border-top: solid 1px #ccc;
}

#result {
    display: inline;
}

#result li {
    list-style: none;
    padding: 15px;
    border-bottom: dashed 1px #ccc;
}

#result li:last-child {
    border-bottom: none;
}

label {
    float: left;
    width: 80px;
    font-weight: bold;
}
